label {
    padding-right: 10px;
    display: table-cell;
}

.divForm{
    margin: auto;
    display: flex;
    justify-content: center; 
    padding: 5px;
    display: table-row;
    padding-bottom: 10px;
}

.errorMessage {
    color: red;
    display: flex;
    margin: auto;
    justify-content: center; 
}

form  { display: table;  }
input { display: table-cell; margin: 10px; }
select { display: table-cell; margin: 10px; }